.fixedmaintain{
	background-color:#EBEAEA;
}
.fixedmaintain .typelist{
	 list-style: outside none none;
    margin: 0;
    padding: 0;
}

.fixedmaintain .typelistdiv {
    background: #2466ba none repeat scroll 0 0;
    float: left;
    line-height: 22px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 30px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}
.fixedmaintain .typelist li{
	margin:10px 0px;
	width:100%;
	text-align:center;
	background-color:#5F9BFB;
}
.fixedmaintain .typelist a:visited {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 8px 0 0 30px;
    text-decoration: none;
}
.fixedmaintain .typelist a {
    color: #fff;
    height: 24px;
    text-decoration: none;
}

.fixedmaintain  table{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ccd7e8;
    border-collapse: collapse;
    color: #ffffff;
}
.fixedmaintain  table  tr th{
	 color: #333333;
	background-color: #dbeaff;
	text-align:center;
	font-weight:normal;
}

.fixedmaintain  table  tr:nth-child(2n) th{
	background-color: #edf4fe;
}
.fixedmaintain  table  tr th.col{
	background-color: #2465b7;
	 color: #fff;
	  border: 1px solid #ccd7e8;
}
.fixedmaintain  table  tr td a.addstatusbtn{
	color: #2766b5;
}
.fixedmaintain  table  tr td{
	border: 1px solid #ccd7e8;
    color: #333333;
    text-align:center;
}

