<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		外呼系统注入任务池
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>		
		<recordset id="ob.pool.filter.sql.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="ob.pool.filter.sql.params"/>
	</output>
	
</config>
