<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Producto - Insertar registro
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>com.ccms.ParentChildDelete</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

	<group-master sql="delete.sql" id="id" child="group-form">
		<group-form table="cs_job_form_template" key="tuid" pkey="template_id">
		</group-form>
    </group-master>

</config>
