<?xml version='1.0' encoding='UTF-8'?>
<config nodb="true">

	<summary>
		Export Excel
	</summary>
	
	<log>false</log>

	<suffix-col>document_id</suffix-col>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>	
	</transaction>

	<output>
		<classname>com.ccms.core.formgen.FormExcelOutput</classname>
	</output>
	
	<excel recordset="excel" sheetname="数据" filename="data.xls" date-format="yyyy-MM-dd">
	</excel>

</config>