<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		跳转节点
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>		
		<recordset id="filter.params" source="session" scope="transaction" />
		<recordset id="query-search-fields.sql" source="sql" scope="transaction" params="filter.params"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-search-fields.sql" tag="frows" />
	</output>

</config>
